.dateDisplayContainer {
    transition: transform 0.3s ease-in-out; /* Suaviza a transição do zoom */
}

.dateDisplayContainer:hover {
    transform: scale(1.1); /* Aumenta o tamanho do elemento em 10% ao passar o mouse */
}

.dateDisplayContainer {
    position: fixed;
    border-radius: 10px;
    top: 30px;
    right: 35px;
    z-index: 1000;
    font-size: 2em;
    font-weight: 300;
    border-bottom: #000000;
    /* box-shadow removido */
}



.dayOfWeek {
    display: flex;
    justify-content: flex-end;
}
