.clockContainer, .dateDisplayContainer {
    transition: transform 0.3s ease-in-out; /* Suaviza a transição do zoom */
}

.clockContainer:hover, .dateDisplayContainer:hover {
    transform: scale(1.1); /* Aumenta o tamanho do elemento em 10% ao passar o mouse */
}

.clockContainer {
    position: absolute;
    top: 30px; /* Ajuste conforme necessário */
    right: 30px; /* Ajuste conforme necessário */
    font-size: 5em; /* Ajuste o tamanho do texto conforme necessário */
    color: #000000; /* Ajuste a cor do texto conforme necessário */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315); /* Adiciona sombreamento */
}

.dateDisplayContainer {
    position: fixed;
    border-radius: 10px;
    top: 110px;
    right: 35px;
    z-index: 1000;
    font-size: 2em;
    
    font-weight: 300;
    border-bottom: #000000;
    /* box-shadow removido */
}



.dayOfWeek {
    display: flex;
    justify-content: flex-end;
}
