.clockContainer {
    position: fixed;
    top: 25%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.clockContainer:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .clockContainer {
       width: 200px;
       height: 300px;
       top: 15%;
       left: 50%;
       transform: translate(-50%, -50%);
    }
}

/* Estilos para telas ainda menores, como smartphones */
@media (max-width: 480px) {
    .clockContainer {
       width: 200px; /* Aumenta o tamanho do relógio para smartphones */
       height: 300px; /* Aumenta o tamanho do relógio para smartphones */
       top: 20%; /* Ajusta a posição superior para smartphones */
       left: 50%; /* Centraliza o relógio horizontalmente em smartphones */
       transform: translate(-50%, -50%); /* Mantém o relógio centralizado */
    }
}

/* Ajuste para considerar a escala de zoom do usuário */
@media (max-width: 768px) {
    .clockContainer {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

@media (max-width: 480px) {
    .clockContainer {
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px) {
    .clockContainer {
        width: 250px;
        height: 350px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
