.embedContainer {
    position: fixed;
    right: 0; /* Alinha o contêiner à direita da janela do navegador */
    top: 0; /* Alinha o contêiner ao topo da janela do navegador */
    width: 20%;
    height: 352px; /* Altura padrão para telas maiores */
    left: auto;
    margin-right: -2rem;
}

.embedIframe {
    position: absolute;
    top: 130px;
    left: auto;
    width: 85%;
    height: 100%;
    border: 0;
}

@media (max-width: 768px) {
    .embedContainer {
        top: 26.5rem;
        left: 1.0rem; /* Alinha o contêiner à esquerda da tela */
        right: auto; /* Alinha o contêiner à direita da tela */
        width: 60%; /* Ocupa toda a largura da tela */
        height: auto; /* Ajusta a altura automaticamente para se adequar ao conteúdo */
        display: flex; /* Usa flexbox para centralizar o conteúdo */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        padding: 10px 0; /* Adiciona um pouco de padding para melhorar a aparência */
        display: none;
    }

    .embedIframe {
        width: 130%; /* Ocupa toda a largura do contêiner */
        height: auto; /* Ajusta a altura automaticamente para se adequar ao conteúdo */
        border: 0; /* Remove a borda */
    }
}