@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
 }

 /* page.module.css ou arquivo CSS global */
.clock-container {
  transition: all 0.5s ease;
 }
 
 /* styles/fonts.css */
@font-face {
  font-family: 'MyFont';
  src: url('/path/to/MyFont.ttf') format('truetype');
 }
 
