.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

 }
 
 .searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

 }
 
 .searchBar {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  
 }
 
 .searchInput:focus {
  border-color: #808080; /* Muda a cor da borda para cinza quando o campo de entrada está em foco */
  background-color: #bdddff38;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.219); /* Adiciona um efeito de sombra cinza suave */
  outline: none; /* Remove o contorno padrão do navegador */
 }
 
 .buttonContainer {
  display: flex; /* Ativa o Flexbox */
  justify-content: space-between; /* Espaçamento entre os botões */
  align-items: center; /* Alinhamento vertical dos botões */
 }
 

 .searchButton {
  margin-top: 10px;
  margin-right: -5px;
  margin-left: 25px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  background-color: #000000; /* Muda a cor de fundo para preto */
  color: #ffffff; /* Muda a cor do texto para branco */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5); /* Adiciona um efeito de sombra cinza suave */
  
 }
 

 
 .searchButton:hover {
  background-color: #ffffff4d;
  color: #000000;
  transition: 0.4s;
 }
 
 .searchBar {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
    
 }
 
 .searchInput {
  width: 100%;
  background-color: #dceeff3b;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #9e9e9efa;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
 }
 
 .searchInput:focus {
  border-color: #808080;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.651);
  outline: none;
 }
 
 .searchButton {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
 }
 
 .searchButton:hover {
  background-color: #ffffff4d;
  color: #000000;
  transition: 0.4s;
  
 }
 
 /* Adicionando círculos brancos em volta dos ícones */
 .iconContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 80px 0;
  

 }
 
 .icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid white; /* Adiciona um círculo branco em volta do ícone */
  border-radius: 50%; /* Torna o círculo branco perfeitamente circular */
  padding: 2px; /* Adiciona um pouco de espaço entre o ícone e o círculo branco */
  background-color: #b3b3b36c;

 }
 
 .icon:hover {
  transform: scale(1.8);
 }
 
 .editIcon {
  
  width: 30px; /* Define a largura do ícone */
  height: 30px; /* Define a altura do ícone */
  cursor: pointer; /* Muda o cursor para um ponteiro quando o mouse passa sobre o ícone */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona uma transição suave para as transformações */
  fill: white; /* Define a cor de preenchimento do ícone para branco */
  background-color: transparent; /* Define o fundo do ícone como transparente */
  border-radius: 50%; /* Arredonda os cantos do ícone */
  padding: 5px; /* Adiciona um pouco de espaço ao redor do ícone para garantir que o arredondamento seja visível */
  display: inline-block; /* Garante que o padding seja aplicado corretamente */
  margin-right: 10px; /* Adiciona um espaço à direita do ícone */
 }
 
 .editIcon:hover {
  transform: scale(1.5); /* Aumenta o tamanho do ícone em 20% quando o mouse passa sobre ele */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao ícone */
 }
 
/* page.module.css */

.roundedInput {
    background-color: #5cabff21;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: 0.3s ease-in-out; /* Adiciona uma transição suave para a cor da borda */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra escura ao texto */
   }
   
 
 .roundedInput:focus {
  border-color: #007bff; /* Muda a cor da borda para azul quando o input está focado */
  transition: 0.6s ease-in-out; /* Adiciona uma transição suave para a cor da borda */
 }
 
 /* Estilos para telas menores */
 @media (max-width: 768px) {
   .container {
       padding: 20px; /* Adiciona um pouco de padding para melhorar a legibilidade em telas menores */
       display: fixed; /* Usa flexbox para centralizar o conteúdo */
       flex-direction: column; /* Define a direção do flex para coluna */
       justify-content: center; /* Centraliza verticalmente */
       align-items: center; /* Centraliza horizontalmente */
       height: 100vh; /* Define a altura do contêiner para 100% da altura da viewport */
       
   }
   
   .searchForm {
       width: 100%; /* Garante que o formulário de pesquisa ocupe toda a largura disponível */
   }
   
   .searchBar {
    max-width: 90%; /* Ajusta a largura máxima para 100% para melhorar a responsividade */
    margin-left: -29px; /* Move o elemento 10px para a esquerda */
}
   
   .buttonContainer {
       flex-direction: column; /* Altera a direção do flex para coluna em telas menores */
       gap: 10px; /* Reduz o espaçamento entre os botões */
       margin-left: 10px;
       
   }
   
   .searchButton {
       margin-top: 20px; /* Aumenta o espaçamento entre os botões */
       padding: 10px 10px; /* Reduz o padding dos botões */
       font-size: 16px; /* Reduz o tamanho da fonte dos botões */
       margin-left: 0.8rem;
       margin-bottom: 11rem;
   }
   
   .iconContainer {
       gap: 20px; /* Reduz o espaçamento entre os ícones */
       padding: 40px 0; /* Ajusta o padding para melhorar a responsividade */
       
   }
   
   .icon {
       width: 30px; /* Reduz o tamanho dos ícones */
       height: 30px; /* Reduz o tamanho dos ícones */
   
   }
   
   .editIcon {
       width: 20px; /* Reduz o tamanho dos ícones */
       height: 20px; /* Reduz o tamanho dos ícones */
       margin-right: 5px; /* Reduz o espaçamento à direita dos ícones */
   }
   .icon6 {
      display: none; /* Remove o ícone da tela em telas menores */
  }
  .icon5 {
   display: none; /* Remove o ícone da tela em telas menores */
}
  }

  /* Estilos para telas menores que 1600px */
@media (max-width: 1600px) {
    .iconContainer {
        gap: 8px; /* Reduz o espaçamento entre os ícones */
        padding: 15px 0; /* Ajusta o padding */
        display: flex; /* Mantém os ícones visíveis */
        flex-wrap: wrap; /* Permite que os itens sejam dispostos em várias linhas */
        margin-bottom: 4rem;
    }
}


@media (max-width: 1440px) {
    .iconContainer {
        gap: 10px; /* Reduz ainda mais o espaçamento entre os ícones */
        padding: 20px 0; /* Ajusta o padding */
        display: flex; /* Mantém os ícones visíveis */
        flex-wrap: wrap; /* Permite que os itens sejam dispostos em várias linhas */
    }
}

/* Estilos para telas menores que 1280px */
@media (max-width: 1280px) {
    .iconContainer {
        gap: 5px; /* Reduz o espaçamento entre os ícones */
        padding: 10px 0; /* Ajusta o padding */
        display: flex; /* Mantém os ícones visíveis */
        flex-wrap: wrap; /* Permite que os itens sejam dispostos em várias linhas */
    }
}